
.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.homecontent
{
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%,-50%);
        width: 300px;
    height: 465.79px;
    border: 2px solid rgba(43, 198, 226, 0.616);
    box-sizing: border-box;
}
.homecontent h1
{
    color: #122414c7;
    font-size: 50px;
}
.homecontent h1 span
{
    background-color:rgb(201, 214, 224);
}
.homecontent p{
    color:#122414c7;
    font-size:30px;
}
.homecontent p span
{
    background-color:rgb(222, 224, 201);
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
}
.homecontent a
{
    margin-top: 30px;
    color: black;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 700px;
}
    .homecontent h1
{
    font-size: 40px;  
          
}
}