<section class="home">
  <img src="../../assets/images/backgro.jpg"> 
  <div class="homecontent"><body style="background-color:rgba(210, 212, 167, 0.582);"><span>
<div style = "text-align:center">
  <h1>
    {{title}}
  </h1>
  <br>
<div class = "input">
  <label for = "weight"><h4>Weight(kg)</h4></label><br>
  <input type = "number" name = "weight" [(ngModel)] = "weight">
</div>
<br>
<div class = "input">
  <label for = "height"><h4>Height(cm)</h4></label><br>
  <input type = "number" name = "height" [(ngModel)] = "height">
</div>
  <br>
  <button (click) = "bmi()"> calculate BMI </button>
  <br>
  <br>
  
  <h3>Your bmi is : {{result}} </h3>
  <br>
  <h3 style="color:rgb(104, 71, 201)">{{msg}}</h3>
  <br>
  </div>
  <a href='/trackbmi' >TrackBMI</a>
  </span></body></div>

  

</section>class="btn btn-lg btn-primary"