<section class="home">
<img src="../../assets/backgro.jpg"> 

<div class="homecontent">
    <h1><span>Weight loss and obesity</span></h1> 
    <p><span>Make your move.</span></p>
    <a href='#' class="btn btn-lg btn-light">Calculate BMI</a> &nbsp;
    <a href='#' class="btn btn-lg btn-primary">Join Now</a>
</div>    
</section>