<style>
    *{
        box-sizing: border-box;
    }
    .column{
        float: center;
        flex: 33.33%;
        padding: 20px;
    }
    .row::after{
        content: "";
        clear: both;
        display: table;
    }
    img {
      border: 6px solid #555;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .responsive {
        width: 50%;
        height: auto;
}
</style> 
<div  class="container">
       <h1>DIETPLAN</h1>  
       <div class="row">
           <div class="column">  
        <img src="../../assets/images/diet plan.jpg" class="responsive" alt="DIETPLAN" width="600" height="400"></div>
        <div class="column">
        <img src="../../assets/images/Obesity-Diet.jpg" class="responsive" alt="DIETPLAN" width="600" height="400">  </div>
        <div class="column">
        <img src="../../assets/images/Weight-Gain-Diet.jpg" class="responsive" alt="DIETPLAN" width="600" height="400"> </div>
        <div class="column">
        <img src="../../assets/images/Weight-loss-diet-plan.webp" class="responsive" alt="DIETPLAN" width="600" height="400">  </div>
        <br> 
        <h1>EXERCISE</h1>
        <div class="row">
             <div class="column">
             <img src="../../assets/images/exercise image.jpg" class="responsive" alt="EXERCISE" width="600" height="400"> </div>
             <div class="column">
                <img src="../../assets/images/exercise 1 image.webp" class="responsive" alt="EXERCISE" width="600" height="400"> </div>
             <div class="column">
             <img src="../../assets/images/image1.jpg" class="responsive" alt="EXERCISE" width="600" height="400">   </div>
             <br>
             <div class="column">
                <img src="../../assets/images/image2.jpg" class="responsive" alt="EXERCISE" width="600" height="400">   </div>
                <br>
                <div class="column">
                    <img src="../../assets/images/fitness.jpg" class="responsive" alt="EXERCISE" width="600" height="400">   </div>
                    <br>
                </div>   