<div class="follow text-center">
    <h1 class="p1">Track-BMI</h1>
     User Id   :   <input type="text"  placeholder="Id" [(ngModel)] = 'track.Id'><br/>
     User Name :   <input type="text"  placeholder="name" [(ngModel)] = 'track.Name'><br/>
    DateOfBirth:   <input type="date"  placeholder="DateOfBirth" [(ngModel)] = 'track.dob'><br/>
    BMI     :   <input type="number"  placeholder="BMI" [(ngModel)] = 'track.bmi'><br/><br/>

      <input type = "submit" value="submit" (click)="TrackService()">
    </div>
    
